.calculator {
    background-color: #125150;
    max-width: 350px;
    padding: 10px;
    margin: 0 auto;
    border-radius: 5px;
    text-align: center;
}

.calculator button {
    background-color: #ccc;
    border: 1px solid #ccc;
    border-bottom: 1px solid #bbb;
    border-radius: 3px;
    color: #121420;
    margin: 10px 0;
    padding: 5px 0;
    text-align: center;
    width: 100px;
}

.calculator button:hover {
    background-color: #121420;
    color: #ccc;
    cursor: pointer;
}

.calculator p {
    margin-bottom: 15px;
    text-align: center;
    text-transform: uppercase;
}

.calculator h3 {
    background-color: #F27450;
    height: 23px;
    margin-bottom: 10px;
    padding: 8px;
    text-align: right;
}

.calculator div {
    background-color: #F27450;
}
.calculator button.btn-result{
    width: 350px!important;
}
.list{
    min-width:200px;
}